body {
    position: relative;
}

.form,
.result {
    width: calc(45% - 1em);
}

.button {
    width: 10%;
    margin: 0 1em;
}

.button .btn {
    transform: none;
    transform-origin: center center;
    transition: ease-in-out 0.3s transform;
}

.submit-indictor {
    position: fixed;
    bottom: 1em;
    right: 50vw;
    transform: translateX(50%);
    text-decoration: none;
    display: none;
}

.round {
    display: block;
    border: 2px solid #0d6efd;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transform: rotate(90deg);
    transform-origin: center;
    margin: auto;
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:12px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url('chevron.svg');
    background-repeat: no-repeat;
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.floating-icon {
    display: flex;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 1;
    transition: ease-in-out 0.3s opacity;
    position: fixed;
    right: 1em;
    bottom: 1em;
}

.floating-icon i.fa {
    display: block;
}

.floating-icon:hover {
    opacity: 0.7;
}

@media screen and (max-width: 540px) {
    .form,
    .result {
        width: 100%;
    }

    .button {
        width: 100%;
        margin: 1em 0;
    }

    .button .btn {
        transform: rotate(90deg);
    }
}