#randomiseNames .form,
#randomiseNames .list,
#randomiseNames .assigned {
    min-width: 200px;
}

#randomiseNames .list,
#randomiseNames .assigned {
    min-height: 250px;
}

#randomiseGroupNames .form,
#randomiseGroupNames .list,
#randomiseGroupNames .assigned {
    min-width: 200px;
}

#randomiseGroupNames .list,
#randomiseGroupNames .assigned {
    min-height: 367px;
}